.foodName {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 40px 0 40px 0;
}

.recipeImgBox {
  height: 1900px;
  text-align: center;
  margin: 50px 0 50px 0;
}
